<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add role</title>
</head>
<body>
<form method="post" th:action="@{'/home/admin/edit?id=' + ${user.getId()}}" th:object="${user}">
    <label>
        <input th:type="text" th:name="userName" th:value="${user.getUserName()}">
    </label>
    <br/>
    <div th:each="role : ${roles}">
        <label>
            <input type="checkbox" th:name="${role}" th:checked="${user.roles.contains(role)}" th:value="${role}"/>
            <span th:text="${role}"></span>
        </label>
    </div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>