<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User account</title>
</head>
<body>
<table border="1">
    <caption>Личная информация:</caption>

    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Age</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getUserName()}"></td>
    <td th:text="${user.getPassword()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td th:text="${user.getAge()}"></td>
    <td th:text="${user.getRoles()}"></td>
    </tbody>
</table>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
<a href="/home">Home page</a>
</body>
</html>